*{
	margin:0;
	padding:0;
}

#nav-bar
{
	background-color:brown;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}

.navbar-brand{
    font-size: 1.5rem;
    color: #5f6368!important;
    
}

.nav-link{
    float: right;
    color: #5f6368!important;
    
}

.nav-link:hover{
    background-color: blue;
}
/* navbar css ends here  */
#main
{
	text-align: center;

}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color:brown!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: blue!important;
}
/*--------------------------footer-------------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer:p{
    color: #8a8a8a;
    
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    
}
.footer-col-1{
    flex-basis: 30;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    
}.footer-col-2 img{
    width:180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 10px;
    margin: 20px 0;
    
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
